src/main/mule/cicdpipeline.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5daf7e7e-817b-490c-8186-da7443d0914e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicdpipelineFlow" doc:id="ebc51547-413b-4946-aca7-e0c0e6d11802" >
		<http:listener doc:name="Listener" doc:id="4fe308e9-fc1d-43f0-ba10-75742609371e" config-ref="HTTP_Listener_config" path="/path"/>
		<ee:transform doc:name="Transform Message" doc:id="ce1cd853-d66a-41fa-8d14-bed8da2c3c6a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"Hi " ++ "Muleys"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="cf390cf9-4e0a-4f29-b84b-97a5ee4f7a45" message="#[payload]"/>
	</flow>
</mule>
